/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #212121;
}

#chat {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#messages {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  overflow-y: auto;
}

form {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  margin-top: 20px;
  align-items: center;
}

input[type="text"] {
  flex-grow: 1;
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

button[type="submit"] {
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding:10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Media queries */
@media screen and (max-width: 768px) {
  #chat {
    padding: 10px;
  }

  li {
    font-size: 14px;
  }

  input[type="text"] {
    font-size: 14px;
    color: white;
    background-color: #212121;
  }

  button[type="submit"] {
    font-size: 14px;
  }
}


li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.sent {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
  margin-left: 100px;
  margin-right: 0;
}

.sent::before {
  /* content: ""; */
  position: absolute;
  top: 50%;
  right: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #007bff;
  transform: translateY(-50%);
}

.receive {
  background-color: #333;
  color: white;
  align-self: flex-start;
  margin-right: 100px;
}

.sent span {
  color: white;
}

.receive span {
  color: #fffff;
}


.receive::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #333;
  transform: translateY(-50%);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}